[submodule "pangu-spacing"]
	path = pangu-spacing
	url = https://github.com/coldnew/pangu-spacing.git
[submodule "300"]
	path = 300
	url = https://github.com/xuchunyang/300.git
[submodule "nov.el"]
	path = nov.el
	url = https://depp.brause.cc/nov.el.git
[submodule "esxml"]
	path = esxml
	url = https://github.com/tali713/esxml.git
[submodule "elfeed"]
	path = elfeed
	url = https://github.com/skeeto/elfeed.git
[submodule "elfeed-org"]
	path = elfeed-org
	url = https://github.com/remyhonig/elfeed-org.git
[submodule "org-journal"]
	path = org-journal
	url = https://github.com/bastibe/org-journal.git
