[submodule "pangu-spacing"]
	path = extensions/pangu-spacing
	url = https://github.com/coldnew/pangu-spacing.git
[submodule "300"]
	path = extensions/300
	url = https://github.com/xuchunyang/300.git
[submodule "nov.el"]
	path = extensions/nov.el
	url = https://depp.brause.cc/nov.el.git
[submodule "esxml"]
	path = extensions/esxml
	url = https://github.com/tali713/esxml.git
[submodule "elfeed"]
	path = extensions/elfeed
	url = https://github.com/skeeto/elfeed.git
[submodule "elfeed-org"]
	path = extensions/elfeed-org
	url = https://github.com/remyhonig/elfeed-org.git
[submodule "org-journal"]
	path = extensions/org-journal
	url = https://github.com/bastibe/org-journal.git
[submodule "swiper"]
	path = extensions/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "gptel"]
	path = extensions/gptel
	url = https://github.com/karthink/gptel.git
[submodule "compat"]
	path = extensions/compat
	url = https://github.com/emacs-compat/compat.git
[submodule "transient"]
	path = extensions/transient
	url = https://github.com/magit/transient.git
[submodule "markdown-mode"]
	path = extensions/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "extensions/evil"]
	path = extensions/evil
	url = https://github.com/emacs-evil/evil.git
[submodule "extensions/goto-chg"]
	path = extensions/goto-chg
	url = https://github.com/emacs-evil/goto-chg.git
[submodule "extensions/themes"]
	path = extensions/themes
	url = https://github.com/doomemacs/themes.git
[submodule "extensions/stem"]
	path = extensions/stem
	url = https://github.com/yuutayamada/stem.git
[submodule "extensions/dash.el"]
	path = extensions/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "extensions/emacsql"]
	path = extensions/emacsql
	url = https://github.com/magit/emacsql.git
[submodule "extensions/org-roam"]
	path = extensions/org-roam
	url = https://github.com/org-roam/org-roam.git
[submodule "extensions/llama"]
	path = extensions/llama
	url = https://github.com/tarsius/llama.git
[submodule "extensions/magit"]
	path = extensions/magit
	url = https://github.com/magit/magit.git
[submodule "extensions/org-tidy"]
	path = extensions/org-tidy
	url = https://github.com/jxq0/org-tidy.git
[submodule "extensions/snowball-spanish.el"]
	path = extensions/snowball-spanish.el
	url = https://github.com/niwaka-ame/snowball-spanish.el.git
[submodule "extensions/visual-fill-column"]
	path = extensions/visual-fill-column
	url = https://codeberg.org/joostkremers/visual-fill-column.git
